# Prerequisites
*.d
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# CMake
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
build/Makefile
CTestTestfile.cmake
.ninja_deps
.ninja_log
compile_commands.json

# IDE
.vscode/
.idea/
.DS_Store
*.swp
